* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f1f5f9;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  position: relative;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-size: 16px;
  outline: none;
  color: #777;
}

.tabs button.active {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #007bff; /* Đường kẻ xanh dày dưới tab đang active */
}

.tabs button:hover {
  color: #007bff;
}

.tabs button:focus {
  outline: none; /* Xóa viền khung khi focus */
}

/* Add task */
.add-task {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.add-task input {
  padding: 12px;
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s;
}

.add-task input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.add-task button {
  padding: 12px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.add-task button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Danh sách tasks */
.task-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.task-list li:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.task-list li span {
  padding: 5px;
  flex-grow: 1;
  text-align: left;
  margin-right: 10px;
}

.task-list li span.completed {
  text-decoration: line-through;
  color: #999;
}

.task-list li button {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.task-list li button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

/* Nút xóa tất cả */
.delete-all {
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
  margin: 20px auto;
}

.delete-all:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}
